/* *FORMATEAR PAGINA */
*{
  margin: 0;
  padding: 0;
}

/* *VARIABLES */
:root {
  --font-color: #ac4949;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(149, 119, 119, 0.127);
}
footer{
  background-color: antiquewhite;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query para escritorio */
@media screen and (max-width: 1920px) {

/* estilo barra navegacion */
nav {
    background-color: #f2f2f2;
    color: #355070;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    text-transform:capitalize;
    /* position: fixed;
    z-index:100;
    width: 100%; */
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #355070;
}
nav a:hover {
    color: #B56576;
}
nav li:first-child {
    margin-right: auto;
}

.barraLateral {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #f2f2f2;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.boton-menu {
    display: none;
}

/* Estilo banner */

  .banner{
    display:flex;   
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid;
  }
  .contenido1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height:700px;
    gap: 10px;  
  }
  .texto{
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  .texto h1{
    color: black;
    font-size: 50px;
  }
  .texto p{
    color: black;
    font-size: 30px;
  }
  .botones{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 50px;
    height: 50px;
  }
  .boton1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    background-color: #6D597A;
    border: none;
    box-shadow: 0 0 12px 0 ;
  }
  .imgPortada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .img1{
    width: 45%;
    height: 550px;
    border-radius: 41px;
    background-color: #6D597A;
    box-shadow: 0 0 12px 0 ;
  }

  /* productos */
   .contenido-productos{
      margin-bottom: 10%;
      display: flex;
      justify-content: start;
      gap: 10px;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--font-color);
    font-size: 30px;
    width: 100%;
  }
  .productos{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 10px;
  }

  /* ESTILOS PARA LAS CARDS */

  .tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width: 50%; 
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  
  }
  .titulo{
    text-align: center;
    font-size: 24px;
    gap: 10px;
  }
  .cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
  }
  .pie{
  
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
  }
  /* ESTILOS BOTON */
  
    .tarjeta button {
    cursor: pointer;
    background-color: #6D597A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.6s;
  }
  /* Cambio de color al pasar el cursor */
    .tarjeta button:hover {
    background-color: #62c7e0;
  }

  /* *SECCIÓN NOSOTROS*/
  .seccionNosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
  }

  .nosotrosSeccionImagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .seccionImagenDerecha h3 {
    width: 90%;
    margin-left: 5%;
    font-family: var(--title-font);
    font-size: 64px;
  }

  .seccionImagenIzquierda img {
    margin-top: 4%;
    width: 50vw;
  }

  .seccionInformacionArriba {
    width: 100%;
    display: flex;
    display: row;
    align-items: start;
    margin-top: 5%;
    font-family: var(--title-font);
    font-size: 64px;
  }

  .seccionInformacionArriba h3 {
    width: 40%;
    margin-left: 2%;
    font-family: var(--title-font);
    font-size: 48px;
  }

  .seccionInformacionArriba p {
    width: 70%;
    margin-right: 2%;
    margin-top: 1%;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
  }

  .seccionInformacionAbajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-top: 3%;
  }

  .seccionInformacionAbajo article {
    margin-left: 1%;
    text-align: center;
  }

  .seccionInformacionAbajo img {
    width: 10rem;
    flex-direction: row;
  }

  .seccionInformacionAbajo h3 {
    margin-top: 2%;
    text-align: center;
  }
  /* *SECCIÓN FORMULARIO*/

  .marcaTienda {
    width: 100%;
    height: 100%;
  }

  .marcaDeporte {
    width: 100%;
    height: 100%;
  }

  .contactoTarjeta h3 {
    text-align: center;
    padding: 1rem;
  }

  .contactoTarjeta a {
    margin-left: 46%;
    border-radius: 0.3rem;
    background-color: var(--color-Quaternary);
    color: var(--color-Sextary);
  }

  .seccionContacto {
    min-height: 80vh;
  }

  .contactoFormulario h2 {
    padding: 1rem;
    text-align: center;
  }

  .contactoFormulario p {
    width: 80%;
    padding: 1rem;
    margin-left: 10rem;
    background-color: var(--color-Secondary);
    font-size: 1.2rem;
  }

  .tiendaDeporte {
    position: absolute;
    width: 40%;
    height: 50%;
    margin-top: 2rem;
    margin-left: rem;
  }

  .sectionDeporte {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  }

  .datoDeporte {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .datoDeporte input {
    width: 22rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 173%;
    border-radius: 1rem;
    box-shadow: 0 0 15px 5px var(--color-Sextary);
  }

  .datoButtom {
    max-height: 40%;
    padding: 1rem;
  }

  textarea {
    width: 48.5%;
    height: 10rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 45.5%;
    padding: 1rem;
  }

  .datoButtom button {
    width: 10rem;
    margin-top: 2rem;
    margin-left: 63%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-Sextary);
    background-color: var(--color-Secondary);
    color: var(--color-Sextenary);
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-Quinary);
    color: var(--color-Primary);
  }

  /* *CARRUSEL */

  .contenedorCarrusel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .carrusel {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 3);
  }

  article {
    width: 80%;
    padding: 0 0px;
  }

  .siguiente,
  .anterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-Sextary);
    color: var(--color-Sextenary);
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .siguiente {
    margin-top: 4rem;
    right: 0;
    border-radius: 0.5rem;
  }

  .anterior {
    margin-top: 4rem;
    left: 0;
    border-radius: 0.5rem;
  }

/* carrito */
.carrito-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center; /* Alineación horizontal centrada */
}

.carrito-table th, .carrito-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Alineación horizontal centrada */
}

.carrito-table th {
  background-color: #f2f2f2;
}

.carrito-table th:first-child,
.carrito-table td:first-child {
  border-left: none;
}

.carrito-table th:last-child,
.carrito-table td:last-child {
  border-right: none;
}

.carrito-table img {
  max-width: 30px; /* Establece un ancho máximo para la imagen */
  max-height: 30px; /* Establece una altura máxima para la imagen */
}

.contenedor-cuerpo {
    justify-content: space-between;
    height: auto;
}

.contenido-cuerpo {
    margin-bottom: 10%;
    justify-content: center;
    gap: 50px;
}
.contenedorPromo {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.verProductos {
  padding: 7px;
  margin: 10px;
  align-items: center;
  background-color: #E56B6F;
  border: 0;
  color: white;
}

.verProductos:hover {
  background-color: #6D597A;
  cursor: pointer;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.imgSeccionPromo {
  width: 500px;
}
}

/* Media query para movil */
@media screen and (max-width: 800px) {

  .navegacionMovil {
    display: none;
}
.boton-menu {
    display: block;
}

.banner{
  display:flex;   
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}
.contenido1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
  gap: 10px;
}
.texto{
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
.texto h1{
  color: black;
  font-size: 32px;
}
.texto p{
  color: black;
  font-size: 20px;
}
.botones{
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 50px;
  height: 50px;
 
}
.imgPortada{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img1{
  width: 70%;
  height: 300px;
  border-radius: 41px;
}

/* productos */

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--font-color);
  font-size: 16px;
}

.productos{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ac4949 solid;
}

.contenido-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20%;
  gap: 15px;
}
/* Estilo para las cars para movil */

.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width:auto;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  gap: 10px;
}

.cuerpo{
  width: 70%;
  height: 200px;
  border: solid;
}
.cuerpo img{
  width: 70%;
  height: 300px;
}
/* *SECCIÓN NOSOTROS*/

.seccionNosotros {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.nosotrosSeccionImagen {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.nosotrosSeccionInformacion {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
/* *SECCIÓN CONTACTO*/


/* *CONTENIDO */
.contenidoContenedor {
  width: 100%;
}

/* *SECCIÓN NOSOTROS*/

.seccionNosotros {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.nosotrosSeccionImagen {
  width: 170vw;
}

.seccionImagenDerecha .seccionImagenIzquierda .seccionInformacionArriba .seccionInformacionAbajo {
  margin-top: 5%;
  width: 100vw;
}

h2 {
  font-size: 64px;
  margin-top: 5%;
  margin-left: 5%;
}

.seccionImagenIzquierda img {
  padding: 5% 3% 5% 3%;
  width: 50rem;
}

.nosotrosSeccionInformacion {
  margin-top: 5%;
  width: 100vw;
}


.nosotrosSeccionInformacion{
  display: flex;
  flex-direction: row;    
}
 

.contenedor-cuerpo {
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: white;
   }
 
.contenido-cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}
 
.contenedor-carrito {
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: white;
}
 
.contenido-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}
 
.contenedor-total {
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}
 
.contenido-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}
 
/* ESTILOS PARA LAS CARDS */
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
 
/* ESTILOS CARRITO */
.carrito-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Alineación horizontal centrada */
}
 
.carrito-table th, .carrito-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Alineación horizontal centrada */
}
 
.carrito-table th {
    background-color: #f2f2f2;
}
 
.carrito-table th:first-child,
.carrito-table td:first-child {
    border-left: none;
}
 
.carrito-table th:last-child,
.carrito-table td:last-child {
    border-right: none;
}
 
.carrito-table img {
    max-width: 30px; /* Establece un ancho máximo para la imagen */
    max-height: 30px; /* Establece una altura máxima para la imagen */
}
 
 
/* ESTILOS BOTON */
.tarjeta button {
    cursor: pointer;
    background-color: #6699ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.6s;
}
 
/* Cambio de color al pasar el cursor */
.tarjeta button:hover {
    background-color: #3366ff;
}

footer {
    background-color: #333;
    color: var(--font-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imgSeccionPromo {
  width: 300px;
  padding: 0;
  margin: 0;
}
.contenedorPromo {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: 30px;
}
div {
  align-items: center;
}
}